data/
res/
lit/
.DS_Store
.Rhistory
script/VAE/results/
script/CLIP/results/
script/CLIP/tmp/
script/Data/tmp/
script/WSDIST/results/
script/VITAL/results/
script/VITAL/tmp/
__pycache__/
.vscode/
clip_env/
